<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DB interface</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="wrapper">
  <h2>Create :</h2>
  <div>
    <form action="/todo/items" method="post">
      <input type="text" name="title" value="">
      <input type="submit" value="Create!">
    </form>
  </div>
</div>
<div class="wrapper">
  <h2>Delete uuid:</h2>
  <div>
    <form action="/todo/items/delete" method="post">
      <input type="text" name="uuid" value="">
      <input type="submit" value="Delete!">
    </form>
  </div>
</div>
<div class="wrapper">
  <h2>Update :</h2>
  <form action="/todo/items/upd" method="post">
    <table style="width:100%">
      <tr>
        <th>UUID</th>
        <th>Title</th>
        <th>Completed</th>
      </tr>
        <tr>
          <td><input type="text" name="uuid" value=""></td>
          <td><input type="text" name="title" value=""></td>
          <td><input type="text" name="completed" value=""></td>
          <td><input type="submit" value="Update!"></td>
        </tr>
    </table>
  </form>
</div>
<table style="width:100%">
  <tr>
    <th>Id</th>
    <th>UUID</th>
    <th>Title</th>
    <th>Completed</th>
    <th>Created At</th>
    <th>Updated At</th>
  </tr>
  <% @items.each do |record| %>
    <tr>
      <td><%= record['id']%></td>
      <td><%= record['uuid']%></td>
      <td><%= record['title']%></td>
      <td><%= record['completed']%></td>
      <td><%= record['created_at']%></td>
      <td><%= record['updated_at']%></td>
    </tr>
  <% end %>
</table>
</body>
</html>
