body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #333;
}

.wrapper{
  width: 980px;
  margin: 2em auto;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 150%;
}

.error {
  margin-top: 1em;
  color: #b22222;
}
